* {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

html {
  min-height: 100%;
  position: relative;
}

main {
  margin-bottom: 7rem;
}

a {
	text-decoration: none;
}

div.logo {
  display: flex;
  align-items: center;
}

div.image-wrapper {
  height: 40px;
  width: 40px;
  background-color: white;
  padding: 0.45rem;
  border-radius: 50%;
}

div.image-wrapper:hover {
  cursor: pointer;
}

div.line-dec {
  position: absolute;
  top: 50%;
  height: 3px;
  width: 25%;
  margin: 0 auto;
  text-align: center;
  background-color: cornflowerblue;
}

button.submit {
  border: none;
  border-radius: 2px;
  background-color: peru;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  transition: all 0.25s ease-out;
}

button.submit:hover {
  background-color: white;
  color: #00203a;
  cursor: pointer;
  transform: scale(1.01);
}

.parallax-glider {
  position: relative;
	background-image: url('../static-photos/parallax_glide_edit.jpeg');
  height: 250px;
	background-attachment: fixed;
	background-position: center -24px;
	background-repeat: no-repeat;
	background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.darken {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background-color: rgba(0,0,0,0.5);
}