html {
  min-height: 100%;
  position: relative;
}

main {
  padding-top: 80px;
  padding-bottom: 5rem;
}

div.image-wrapper {
    border: 2px solid darkblue;
    background-color: white;
    padding: 0.45rem;
    border-radius: 50%;
}