section.browser-row {
	background-color: #00203a;
	color: white;
}

div.browser-wrapper {
	display: block;
	position: relative;
}

h2.desktop-title {
	font-size: 28px;
	font-weight: 100;
}

div.browser-tile {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background-color: white;
	color: #00203a;
	height: 250px;
	margin-bottom: 8px;
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;
	transition: all 0.25s ease-out;
}

div.browser-tile:last-child {
	margin-bottom: 0;
}

div.browser-tile:hover {
	cursor: pointer;
	box-shadow: 0 2px 22px lightgrey;
    transform: translateY(-5px);
}

div.browser-tile > h2 {
	width: 100%;
	text-transform: uppercase;
	margin: 0;
	font-size: 50px;
	font-family: 'Archivo Black', sans-serif;
}

div.browser-tile > span {
	font-weight: bold;
    position: absolute;
    bottom: 9px;
}

div.browser-tile > span > i {
	vertical-align: middle;
}

.training:after, .gear:after {
	content: '';
	opacity: 0.35;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
	background-size: cover;
}

.training:after {
	background-image: url(../static-photos/glider-training_edit.jpg);
}

.gear:after {
	background-image: url(../static-photos/glider-brands.jpg);
}

@media only screen and (min-width: 1000px) {
	div.browser-wrapper {
		display: flex;
		justify-content: space-evenly;
		align-items: baseline;
	}
}