section.hero {
	border-bottom: 1px solid #00203a;
	background-image: url(../static-photos/top-shot_edit.jpeg);
	height: 750px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

section.hero > h1 {
	color: white;
	font-size: 70px;
	line-height: 1.5;
	letter-spacing: 1px;
	font-weight: bold;
}

div.hero-wrapper {
    border-radius: 2px;
    background-color: rgba(0,0,0,0.6);
    padding: 1rem;
    box-shadow: 0px 0px 3px ghostwhite;
}

form.search-form {
	border: 1px solid grey;
	box-shadow: 0 2px 3px lightgrey;
	height: 36px;
}

input.search {
	border: none;
}

input.search:focus {
	outline: none;
}

button.submit {
	border: none;
	background-color: coral;
	transition: all 0.25s ease-out;
}

button.submit:hover {
	background-color: green;
	color: white;
	cursor: pointer;
}

ul.hero-list {
	display: flex;
	justify-content: space-evenly;
}

li.hero-link {
	display: inline-block;
	min-width: 33.333%;
	padding: 0.5rem 1rem;
	border-left: 1px solid black;
	border-right: 1px solid black;
	text-transform: uppercase;
	font-weight: bold;
}

li.hero-link:first-child {
	border-left: none;
}

li.hero-link:last-child {
	border-right: none;
}