nav {
	background-color: #00203a;
}

div.nav-contents {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

div.image-wrapper {
	height: 40px;
	width: 40px;
}

div.image-wrapper:hover {
	cursor: pointer;
}

nav ul > li {
	color: white;
	display: inline-block;
	padding: 0 1rem 0 0;
}

nav ul > li:after {
	padding-left: 1rem;
	content: '|';
}

nav ul > li:last-child:after {
	padding: 0;
	content: '';
}

nav ul > li > a:visited {
	color: white;
}